body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: background color */
}

.image-container {
    max-width: 512px; /* Max width of the image */
    width: 100%; /* Responsive width */
    margin: auto; /* Centering for smaller devices */
    display: flex; /* Using flex to center the image */
    justify-content: center;
    align-items: center;
}

.responsive-image {
    max-width: 100%; /* Limiting image to container's width */
    height: auto; /* Maintaining aspect ratio */
}
